<!-- Copyright (c) Microsoft. All rights reserved. Licensed under the MIT license.
See LICENSE in the project root for license information. -->


@{
    ViewBag.Title = "View";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Percent Complete Chart</h2>

<img src="@Url.Action("GetChart", "ChartController")" />